@use './theme/default/vars.scss' as default-theme;
@use './theme/dark/vars.scss' as dark-theme;

@font-face {
  font-family: 'AlimamaDongFangDaKai';
  font-weight: 400;
  src: url('~/assets/fonts/AlimamaDongFangDaKai/AlimamaDongFangDaKai-Regular.woff2') format('woff2'),
    url('~/assets/fonts/AlimamaDongFangDaKai/AlimamaDongFangDaKai-Regular.woff') format('woff');
  font-display: swap;
}

html,
body {
  margin: 0;
  color: var(--el-text-color-primary);
  scroll-behavior: smooth;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

$clampNums: ( 1: 1, 2: 2, 3: 3, 4: 4, );

@each $name, $line in $clampNums {
  /* 多行超出省略 */
  .text-clamp-#{$name} {
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
    line-height: 1.5;
    white-space: normal;
    -webkit-box-orient: vertical;
  }
}
