@use 'element-plus/theme-chalk/dark/css-vars.css';

html,
body {
  margin: 0;
  color: var(--el-text-color-primary);
  scroll-behavior: smooth;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
